* {
  margin: 0;
  padding: 0;
}
.head {
  height: 0;
  padding-bottom: 30%;
  background-image: url(img/cat.jpg);
  background-size: 100%;
  background-position: 0 -100px;
  background-repeat: no-repeat;
}
.information {
  padding-top: 30px;
  padding-left: 30px;
}
.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #ffffff;
  font-size: 3rem;
}
.name {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 2rem;
}
.week {
  font-family: Arial, Helvetica, sans-serif;
  color: #17A589;
  font-size: 2rem;
  font-weight: bolder;
  border-style: solid;
  border-width: 1px;
  border-color: transparent transparent #17A589 transparent;
}
.content {
  padding-top: 1%;
  padding-left: 3%;
}
.step {
  display: flex;
  padding: 2%;
}
.date {
  font-family: Arial, Helvetica, sans-serif;
  color: #17A589;
  font-size: 1.5rem;
  padding-left: 3%;
}
.rectangle {
  height: 0;
  width: 0;
  border-color: transparent transparent transparent #17A589;
  border-style: solid;
  margin-top: 0.5%;
  margin-left: 5%;
  border-width: 0.5rem;
  border-left-width: 0.8rem; 
}
.detail {
  padding-left: 4%;
}
.abstract {  
  font-family: Arial, Helvetica, sans-serif;
  color: #17A589;
  font-size: 1.5rem;
}
.link {
  font-family: Arial, Helvetica, sans-serif;
  color: #CACFD2;
 
}