@font-face {
  font-family: "TitilliumWeb";
  src: url(font/TitilliumWeb-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "TitilliumWeb";
  text-decoration: none;
}
body {
  background-color: black;
  width: 95%;
  margin: auto;
}
.banner-top {
  height: 10px;
}
.banner {
  position: sticky;
  -webkit-position: sticky;
  -ms-position: sticky;
  -moz-position: sticky;
  -o-position: sticky;
  top: 0;
  z-index: 1;
  height: 95px;
  background-image: url(images/starfield-banner.jpg);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.logo-top {
  position: absolute;
  left: 0;
  top: 10px;
  height: 95px;
  width: 95px;
  background-image: url(images/nasa-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.header {
  height: 90px;
  padding: 10px;
  margin-right: 20px;
  display: flex;
  flex-direction: row-reverse;
}
.icon-menu {
  display: none;
}
.icon-share {
  height: 28px;
  width: 28px;
  padding-left: 4px;
  padding-top: 4px;
}
.search {
  height: 25px;
  width: 120px;
  padding: 5px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-style: none;
}
.search-icon {
  position: relative;
  right: -135px;
  height: 28px;
  width: 28px;
  margin: 4px;
  background-image: url(images/search.svg);
  background-color: transparent;
  border-style: none;
  outline-width: 0;
  cursor:pointer;
}
.nav {
  margin-right: -28px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.menu {
  margin-top: -12px;
  display: flex;
  align-items: center;
}
.menu-container {
  position: relative;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-container:hover {
  background-color: rgb(21, 65, 140);
  cursor:pointer;
}
.menu-text {
  padding: 5px 15px 5px 15px;
  font-size: 17px;
  color: rgb(255, 255, 255);
}
.menu-list {
  position: absolute;
  top: 60px;
  width: 300px;
  display: flex;
  flex-direction: column;
}
.menu-detail {
  display: none;
  padding: 10px 15px 10px 15px;
  background-color: rgb(21, 65, 140);
  color: rgb(255, 255, 255);
  font-size: 17px;
}
.menu-detail:hover {
  background-color: rgb(7, 47, 84);
}
.menu-container:hover .menu-detail {
  display: block;
}
.special {
  display: none;
}
.with-border {
  border-right: rgba(255, 255, 255, 0.5) solid 1px;
}
.option {
  display: flex;
  align-items: center;
}
.option-container {
  height: 37px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
}
.option-container:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor:pointer;
}
.option-text {
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 20px;
  padding: 0px 13px 0px 13px;
}
.container {
  padding-top: 10px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: repeat(4, 260px);
  grid-row-gap: 13px;
  grid-column-gap: 13px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.content .title {
  padding: 5px 10px 5px 10px;
  background-color: rgba(93, 127, 185, 0.8);
  width: fit-content;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}
.content .title:hover {
  background-color: rgba(93, 127, 185, 1);
}
.content .abstract {
  padding: 3px 10px 3px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  color: rgb(0, 0, 0);
  line-height: 21px;
  font-weight: 1000;
}
.content .abstract:hover {
  background-color: rgb(255, 255, 255);
}
.information {
  font-size: 13px;
  color: rgb(255, 255, 255);
}
.information .title {
  margin: 8px 10px 8px 10px;
  border-bottom: solid 1px rgb(255, 255, 255);
  line-height: 25px;
}
.information .abstract {
  display: block;
  margin: 5px;
  line-height: 15px;
  color: rgb(255, 255, 255);
}
.information .abstract:hover {
  text-decoration: underline;
}
.information .footer {
  margin: 10px 10px 0px 10px;
  border-top: solid 1px rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.information .left, .information .right{
  color: rgb(255, 255, 255);
}
.information .left:hover, .information .right:hover {
  text-decoration: underline;
}
.video-univ {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.camera-triangle {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  background: linear-gradient(to bottom left , rgb(0, 0, 0) 33px, transparent 1px);
  display: flex;
  flex-direction: row-reverse;
}
.camera {
  width: 40%;
  height: 40%;
}
.box1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  background-image: url(images/pia21924-16.jpg);
}
.box2 {
  background-image: url(images/mollweide_cycle.jpg);
}
.box3 {
  background-color: #45709a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box4 {
  grid-column: 3 / span 2;
  background-image: url(images/s69-39961.jpg);
}
.box5 {
  position: relative;
  background-image: url(images/ssc2017-14a1.jpg);
}
.box6 {
  grid-column: 2 / span 2;
  background-image: url(images/pia22556-16.gif);
}
.box7 {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}
.box8 {
  background-image: url(images/nasa_logo.png);
} 
.box9 {
  position: relative;
  background-image: url(images/io-home.gif);
}
.box10 {
  background-image: url(images/cassini20170809.jpg);
}
.box11 {
  background-image: url(images/fermiicecube_as.jpg);
} 
.more {
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  color: rgb(255, 255, 255);
  background-color: rgb(21, 65, 140);
}
.more:hover {
  background-color: rgb(93, 127, 185);
}
.footer {
  margin-top: 30px;
  margin-left: 10px;
  display: flex;
}
.logo-buttom {
  width: 70px;
  height: 70px;
  background-image: url(images/nasa-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.institution p {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
}
.list {
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-end;
}
.list a {
  padding: 0 20px 0 20px;
  color: rgb(93, 127, 185);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 11px;
}
.list a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1250px) { /*font-size smaller*/
  .menu-text {
    font-size: 13px;
  }
} 
@media screen and (max-width: 1150px) { /*footer re-layout*/
  .menu-text {
    font-size: 12px;
  }
  .option-text {
    font-size: 10px;
  }
  .footer {
    margin-left: 0;
  }
  .list {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  .list a {
    padding-left: 0;
    line-height: 16px;
  }
  .footer {
    flex-direction: column;
  }
} 
@media screen and (max-width: 1024px) { /*navigation hidden*/
  .nav {
    display: none;
  }
  .header {
    align-items: center;
  }
  .icon-share {
    height: 30px;
    width: 30px;
  }
  .search {
    height: 30px;
    width: 150px;
  }
  .search-icon {
    height: 30px;
    width: 30px;
    right: -160px;
  }
  .logo-top {
    height: 75px;
    width: 75px;
    top: 25px;
  }
  .special {
    margin-right: -30px;
    display: block flex;
    flex-direction: row;
    align-items: center;
  }
  .special .menu-text {
    font-size: 20px;
  }
  .icon-menu {
    height: 15px;
    width: 15px;
    display: block;
  }
} 
@media screen and (max-width: 990px) { /*two column layout*/
  .container {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: repeat(6, 300px);
  }
  .box1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  .box4 {
    grid-column: 1 / span 1;
  }
  .box6 {
    grid-column: 1 / span 1;
  }
} 
@media screen and (max-width: 768px) { /*one column layout*/
  .container {
    display: grid;
    grid-template-columns: 99%;
    grid-template-rows: repeat(11, 300px);
  }
  .box1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .box4 {
    grid-column: 1 / span 1;
  }
  .box6 {
    grid-column: 1 / span 1;
  }
} 
@media screen and (max-width: 500px) { /*layout for cellphones - "NASA TV" hidden*/
  .special {
    display: none;
  }
} 