@font-face {
  font-family: "main-font";
  src: url('../font/mainfont.ttf')
}

@font-face {
  font-family: "light-font";
  src: url('../font/lightfont.ttf')
}

* {
  padding: 0;
  margin: 0;
  font-family: "main-font";
}