.main-page {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 5px 8% 0 8%;
}

.aside-page {
  width: 20%;
}

.movie-page {
  flex: 1;
  margin-left: 5%;
}

.movie-section {
  margin: 10px 0;
}

.movie-section.random {
  position: relative;
}

.movie-section-class {
  color: #34495E;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px #D1D6DC solid;
  line-height: 30px;
}

.switch {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 14px;
  color: #34495E;
  padding: 0 5px;
  margin: 0 5px;
  outline: none;
  background-color: #ffffff;
  border: none;
  line-height: 20px;
  border: #ffffff 0.5px solid;
}

.switch:hover {
  cursor: pointer;
  color: #D1D6DC;
  outline: none;
}

.movie-display {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.movie-detail {
  width: 115px;
  margin: 10px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-poster {
  display: block;
  height: 150px;
  width: 115px;
  cursor: pointer;
}

.movie-title, .movie-rate{
  margin: 8px 0;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
}

.movie-title {
  color: #2E2E2E;
  cursor: pointer;
}

.movie-rate {
  color: #FA8072;
  margin-left: 5px;
}

.category {
  margin-top: 10px;
}

.category-detail {
  display: flex;
  flex-direction: column;
}

.category-detail > a, .category-detail > .hidden{
  padding-left: 5px;
  font-size: 13px;
  line-height: 25px;
  text-decoration: none;
}

.category-detail a:hover {
  color: #7991A8;
  cursor: pointer;
}

.category:hover .hidden {
  display: inline;
}

.category .hidden {
  display: none;
}

.category-title {
  margin: 10px 0;
  padding: 8px 10px;
  font-weight: 700;
  color: #ffffff;
  background: url(../img/winter.jpg);
  background-size: cover;
  background-position-y: -300px;
  opacity: 0.9;
  font-size: 14px;
}

