* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium";
}

body {
  background-color: #ECECEC;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 500px;
  padding: 0 30px;
  background-color: #ffffff;
  margin: 50px;
  border-radius: 5px;
}

.title {
  font-size: 25px;
  margin: 30px 0 10px 0;
}

.notation {
  font-style: italic;
  margin: 10px 0;
  font-size: 15px;
}

.input {
  margin: 10px 0 30px 0;
}

#task {
  height: 22px;
  width: 80%;
  margin-right: 2%;
}

#confirm-task {
  font-size: 15px;
  padding: 5px 15px;
  background-color: #fc999c;
  border: #ffffff 1px solid;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

#confirm-task:hover {
  background-color: #fdaeb0;
}

#list {
  margin: 10px 0;
}

.taskLine {
  font-size: 15px;
  line-height: 30px;
  display: flex;
}

.newNumber {
  width: 10px;
}

.newNumber-delete {
  width: 10px;
  color: #A4A4A4;
  text-decoration: line-through;
}

.taskDetail {
  flex: 1;
  padding: 0 5px;
  margin: 0 5px;
  display: flex;
  align-items: center;
}

.newText {
  padding-left: 5px;
}

.newText-delete {
  padding-left: 5px;
  color: #A4A4A4;
  text-decoration: line-through;
}

.bottom-box {
  margin: 10px 120px;
  display: flex;
  justify-content: space-around
}

.bottom-button {
  font-size: 15px;
  padding: 5px 15px;
  background-color: #ffffff;
  border: #ffffff 1px solid;
  border-radius: 5px;
  color: #fc999c;
  cursor:pointer;
}

.bottom-button:hover, .bottom-button:focus {
  outline: none;
  border: #D6D6D6 1px solid;
}