* {
  margin: 0;
  padding: 0;
} 
@font-face {
  font-family: "DengXian";
  src: url(font/Deng.ttf);
}
.navigation {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  background-color: #FF1744;
}
.nav-text {
  font-size: 50px;
  line-height: 130px;
  color: #ffffff;
  font-family: "Dengxian";
}
i.iconfont {
  margin: 40px;
  font-size: 50px;
  line-height: 130px;
  color: #ffffff;
}
.iconlink {
  text-decoration: none;
}
.banner {
  height: 50px;
  background-image: url(img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  padding-top: 450px;
  padding-right: 25px;
}
.dot {
  margin: 5px;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: #727272;
}
.highlight {
  background-color: #C4C4C4;
}
.menu {
  width: 100%;
  border-collapse: separate;
  border-spacing: 25px 25px;
}
.item {
  height: 80px;
  width: 30%;
  border: solid #E9E9E9 1px;
  border-radius: 40px;
  font-family: "DengXian";
  font-size: 30px;
  text-align: center;
  color: #000000;
}
.selected {
  background-color: #FF1744;
  color: #ffffff;
}
.content {
  margin: 30px;
}
.blog {
  margin-top: 20px;
  height: 240px;
  border-width: 1px;
  border-color: transparent transparent #E9E9E9 transparent;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.img-box {
  height: 220px;
  width: 38%;
}
.text-box {
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 56%;
  position: relative;
}
.blog-img {
  width: 100%;
  height: 100%;
}
.blog-title {
  font-size: 30px;
  line-height: 40px;
  font-family: "DengXian";
  color: #636363;
  text-align: justify;
}
.abstract {
  margin-top: 10px;
  font-family: "DengXian";
  font-size: 30px;
  color: #8A8A8A;
  text-align: justify;
  line-height: 35px;
}
.detail {
  position: absolute;
  bottom: 25px;
  font-size: 30px;
  font-family: "DengXian";
}
.price {
  color: #FF1744;
}
.student {
  margin-left: 30px;
  color: #8A8A8A;
}