.dg-container {
    width: 100%;
    height: 450px;
    position: relative;
}

.dg-wrapper {
    width: 481px;
    height: 316px;
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.dg-wrapper a {
    width: 482px;
    height: 316px;
    display: block;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent url(../images/browser.png) no-repeat top left;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.dg-wrapper a img {
    display: block;
    padding: 41px 0px 0px 1px;
}

.dg-wrapper a div {
    font-style: italic;
    text-align: center;
    line-height: 50px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    color: #333;
    font-size: 16px;
    width: 100%;
    bottom: -55px;
    display: none;
    position: absolute;
}

.dg-wrapper .show {
    opacity: 1;
}

.dg-wrapper .left {
    transform: translateX(-250px) rotateY(45deg) translateZ(-200px);
}

.dg-wrapper .outleft {
    transform: translateX(-350px) rotateY(60deg) translateZ(-200px);
}

.dg-wrapper .right {
    transform: translateX(250px) rotateY(-45deg) translateZ(-200px);
}

.dg-wrapper .outright {
    transform: translateX(350px) rotateY(-60deg) translateZ(-200px);
}

.dg-wrapper .change {
    transition: all 0.5s;
}

.dg-wrapper .current div{
    display: block;
}